BOT_TOKEN=123456:replace_me
BOT_USERNAME=luna_cycle_bot
CHANNEL_USERNAME=etoneflo
CHANNEL_URL=https://t.me/etoneflo
TOS_ARTICLE_URL=https://telegra.ph/Soglashenie--luna-09-10
TZ=Europe/Moscow
DB_PATH=luna.db
